.footer {
    min-height: 10vh;
    background-color: $background-white-cream;
    display: flex;
    justify-content: center;
}

.footer-container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    svg {
        height: 4rem;
        width: 4rem;
        margin: auto;
        .st1 {
            fill: black;
        }
    }
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.footer-socials {
    svg {
        font-size: 3rem;
        color: white;
    }
}

.footer-copyright {
    font-size: 0.5rem;
    color: $secondary-gray;
    padding: 0.3rem 0;
}