@import "../components/logo";
@import "./sass/utilities/mixins";

.footer {
    // min-height: 8vh;
    background-color: $background-white-cream;
    // display: flex;
    // justify-content: center;
}

.footer-container {
    @extend .container;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
        @include logoTextColor(black);
        height: 4rem;
        width: 4rem;
        margin-left: 10px;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.footer-socials {
    svg {
        font-size: 3rem;
        color: white;
    }
}

.footer-copyright {
    font-size: 0.5rem;
    color: $secondary-gray;
    padding-bottom: 0.3rem
}

[data-theme='dark'] .footer {
    @include logoTextColor(white);
    background-color: #202020;
}