@import "./sass/utilities/mixins";
@import "./sass/components/logo";

.nav {
  // * {
  //   border: 1px solid pink;
  // }
  z-index: 999;
  position: sticky;
  top: 0;
  background-color: $background-white-cream;
  @extend .shadow-bottom;
  @include logoTextColor(black);


  &--menu-desktop {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  & a {
    display: flex;
    align-items: center;
  }

  &--logo-wrapper {
    width: auto;
    padding: 5px 0;
    height: 6rem;
    position: relative;
  }


  &--menu-wrapper {
    display: flex;
    align-items: center;
    @include lg {
      display: none;
    }

    button, button:focus {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin: .25rem .75rem;
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  &--items-desktop, &--items-mobile {
    & a {
      margin: .5rem .5rem;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 1.25;
      letter-spacing: .01rem;

      &:hover {
        opacity: 0.3;
      }
    }
  }

  &--items-desktop {
    display: none;
    @include lg {
      display: flex;
      align-items: center;
    }
  }

  &--items-mobile {
    li {
      border-bottom: 1px solid rgba($secondary-gray, 0.3);
      width: 100%;
      display: flex;
      justify-content: center;
      
    }
    
    @include lg {
      display: none;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

[data-theme='dark'] .nav {
  @include logoTextColor(white);
  
  background-color: #202020;
  a {
    color: white;
  }
  .active {
    color: $primary-yellow;
  }
}

.active {
  color: $primary-yellow;
}

.theme-switch-container {
  position: absolute;
  top: 7px;
  right: 10px;
  opacity: 0.3;
  select {
    border: none;
  }
  .theme-icon {
    color: rgba($secondary-gray, 0.9)
  }
  
}


