@import "./sass/utilities/mixins";
@import "./sass/components/logo";

.nav {
  z-index: 999;
  position: sticky;
  top: 0;
  background-color: #EFEFEF;
  @extend .shadow-bottom;
  @include logoTextColor(black);


  &--menu-desktop {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & a {
    display: flex;
    align-items: center;
  }

  &--logo-wrapper {
    width: auto;
    height: 6rem;
    position: relative;

  }


  &--menu-wrapper {
    display: flex;
    align-items: center;
    @include lg {
      display: none;
    }

    button, button:focus {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin: .25rem .75rem;
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  &--items-desktop {
    display: none;
    @include lg {
      display: flex;
      align-items: center;
    }

    & a {
      margin: 0 .5rem;
      text-decoration: none;
      text-transform: uppercase;
      font-size: .875rem;
      line-height: 1.25;
      letter-spacing: -.05rem;

      &:hover {
        opacity: .75;
      }
    }
  }

  &--items-mobile {
    @include lg {
      display: none;
    }
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    justify-content: center;
  }

  a {
    margin: 0 .5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 1.25;
    letter-spacing: -.05rem;

    &:hover {
      opacity: .75;
    }
  }
}