@import "variables";

//DEVICES

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-2xl-min}) {
    @content;
  }
}


//CONTAINER

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}
@media (min-width: 1024px) {
  .container {
    max-width:1024px
  }
}
@media (min-width: 1280px) {
  .container {
    max-width:1280px
  }
}