// Small tablets and large smartphones (landscape view)
$screen-sm-min: 640px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1280px;

//Wide screen desktops
$screen-2xl-min: 1536px;


$primary-yellow: #FFD100;
$secondary-gray: #707070;
$background-white-cream: #EFEFEF;

html,
body {
    color: #707070;
    background: #fff;
}

[data-theme='dark'],
[data-theme='dark'] body {
    color: rgb(231, 231, 231);
    background: rgb(17, 17, 17);
}

[data-theme='dark'] body {
    $secondary-gray: white;
    $background-white-cream: #707070;
}