@import "./sass/utilities/mixins";


.blog-card {
  max-width: 21rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 2px 2px 10px -5px #333;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;

   [data-theme='dark'] & {
    color: rgb(231, 231, 231);
    background-color: $background-dark;
    box-shadow: none;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem 1rem 0;
    word-spacing: -.2rem;
  }


  & >p {
    margin: 1rem;
    font-weight: 300;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 4rem;
  }


  &--actions {
    margin: 1rem;
    // width: 100%;
  }

  &--author {
    display: flex;
    align-items: center;
    margin-bottom: .8rem;

    div {
      margin-left: .7rem;
    }

    div > p {
      font-size: 1rem;
    }

    div > span {
      font-size: .8rem;
      color: $secondary-gray;
    }

    img {
      border-radius: 50%;
    }
  }

}

[data-theme='dark'] .blog-card {
  color: rgb(231, 231, 231);
  background-color: #222;
  box-shadow: none;
}
