@import "./sass/utilities/mixins";

.blog-container {
  background-image: url(../../pages/contact/background_bottom.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  @extend .min-height-screen;
}

[data-theme='dark'] .blog-container {
    background-image: url(../../pages/contact/background_bottom_dark.png);
    mix-blend-mode: exclusion;
}
.blog {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}