@import "./sass/utilities/mixins";

.blog-container {
  background-image: url(../../pages/contact/background_bottom.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  @extend .min-height-screen;
}

[data-theme='dark'] .blog-container {
    background-image: url(../../pages/contact/background_bottom_dark.png);
    mix-blend-mode: exclusion;
}

.blog {
  @extend .min-height-screen;
  background-image: url(../../pages/contact/background_bottom.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;

  [data-theme='dark'] & {
    background-image: url(../../pages/contact/background_bottom_dark.png);
    mix-blend-mode: exclusion;
  }


  & .blog-container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    @extend .container;
  }
}

.blog-post {
  @extend .container;
  @extend .min-height-screen;
    @include lg {
      margin: 10rem;
    }

  & h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 3rem;
  }

  &__image {
  }

}