@import "./sass/utilities/mixins";

.blog {
  @extend .container;
  @extend .min-height-screen;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../../pages/contact/background_bottom.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}