@import "./sass/utilities/mixins";
@import "./sass/utilities/variables";

.projects-container {
    @extend .container;
    @extend .min-height-screen;
    background-image: url(../../pages/contact/background_bottom.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    .project-cards {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
        margin-top: 1rem;
    }
}

.projects-title {
    @extend .section-title
}

.path-links {
    width: fit-content;
    margin: 1rem auto -2rem;
    @include md {
        margin: 1rem 0.5rem -2rem;
    }
}

.path-link {
    text-decoration: none;
    cursor: pointer;
    color: $secondary-gray;
    font-size: 0.8rem;
    &:hover {
        color: $primary-yellow
    }
    &:last-child {
        color: $primary-yellow
    }
}

.back-icon {
    margin: 0 5px;
    font-size: 0.8rem;
    color: $secondary-gray;
}